@import url('./fonts.css'); /* Import custom fonts */

.home {
  padding: 40px; /* Padding around the container */
  text-align: center; /* Center align text */
  background-color: #10A54A; /* Pigment Green background color */
  color: #082D0F; /* Dark Green text color */
  font-family: 'Codec Warm Trial', sans-serif; /* Custom font family */
}

.home h1 {
  font-size: 2.5em; /* Large font size for heading */
  margin-bottom: 20px; /* Space below heading */
}

.home-content {
  font-size: 1.2em; /* Slightly larger font size */
  margin-top: 20px; /* Space above the content */
}

/* Apply the font-family to all elements within .home */
.home * {
  font-family: 'Codec Warm Trial', sans-serif; /* Custom font family */
}
